xcuserdata/
.DS_Store

Config/Secrets.xcconfig
!Config/Secrets.xcconfig.example

*.hmap

DerivedData/
build/
*.xcarchive
*.xcresult
*.ipa
*.dSYM.zip
*.dSYM

timeline.xctimeline
playground.xcworkspace

.build/

Carthage/Build/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
